<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorites</title>
  </head>
  <body>
    <h1>MemeTime</h1>
    <p>Add a title and url of your favorite YouTube meme</p>
    <form onsubmit="``" id="newMemeForm">
      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <div id="nameErrorMessage"></div>
      </div>
      <div class="form-control">
        <label for="url">YouTube URL</label>
        <input type="text" name="youtubeUrl" id="youtubeUrl" />
        <div id="youtubeUrlErrorMessage"></div>
      </div>
      <button type="submit" id="submitButton" disabled>Add Meme!</button>
    </form>
    <div id="memeList">
      <h2>Best of the Best</h2>
    </div>
    <div id="memesWrapper"></div>
    <script>
      //ELEMENTS
      const submitButton = document.getElementById("submitButton");
      const memesWrapper = document.getElementById("memesWrapper");
      const newMemeForm = document.getElementById("newMemeForm");
      newMemeForm.addEventListener("submit", handleFormSubmit);
      const nameInput = document.getElementById("name");
      nameInput.addEventListener("blur", validateNameInput);
      const youtubeUrlInput = document.getElementById("youtubeUrl");
      youtubeUrlInput.addEventListener("blur", validateYoutubeUrlInput);
      const nameErrorMessageDiv = document.getElementById("nameErrorMessage");
      const youtubeUrlErrorMessageDiv = document.getElementById(
        "youtubeUrlErrorMessage"
      );

      //VARIABLES
      let memeYoutubeUrls = [];
      const INPUT_ERROR_MESSAGES = {
        NAME: {
          BLANK: "The name cannot be blank",
          TOO_LONG: "Please keep the name less than 100 characters",
        },
        YOUTUBE_URL: {
          BLANK: "The video URL cannot be blank",
          NOT_YOUTUBE_URL:
            "The URL entered is not a valid YouTube video address",
        },
      };
      const youtubeUrlRegex =
        /^https:\/\/www\.youtube\.com\/watch\?v=[A-Za-z0-9]+$/i;

      //CREATE MEME IFRAME TAG
      function generateIframeTag(youtubeUrl) {
        const iframeTag = document.createElement("iframe");
        iframeTag.setAttribute("width", "560");
        iframeTag.setAttribute("height", "315");
        iframeTag.setAttribute("src", youtubeUrl.replace("watch?v=", "embed/"));
        iframeTag.setAttribute("tile", "YouTube video player");
        iframeTag.setAttribute("frameborder", "0");
        iframeTag.setAttribute(
          "allow",
          "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        );
        iframeTag.setAttribute("allowfullscreen", "");
        return iframeTag;
      }

      //ADD MEME TO PAGE
      function addMemeToPage(youtubeUrl) {
        const iframeTag = generateIframeTag(youtubeUrl);
        memesWrapper.appendChild(iframeTag);
      }

      //FORM VALIDATION
      function setErrorMessage(message, errorMessageDiv) {
        errorMessageDiv.textContent = message;
      }
      function checkForValidForm() {
        if (
          nameErrorMessageDiv.textContent == "" &&
          youtubeUrlErrorMessageDiv.textContent == "" &&
          name.value !== "" &&
          youtubeUrl.value !== ""
        ) {
          submitButton.removeAttribute("disabled");
        } else {
          submitButton.setAttribute("disabled", "");
        }
      }
      function validateNameInput(event) {
        setErrorMessage("", nameErrorMessageDiv);
        const inputText = event.target.value.trim();
        if (inputText === "") {
          setErrorMessage(INPUT_ERROR_MESSAGES.NAME.BLANK, nameErrorMessageDiv);
        }
        if (inputText.length > 100) {
          setErrorMessage(
            INPUT_ERROR_MESSAGES.NAME.TOO_LONG,
            nameErrorMessageDiv
          );
        }
        checkForValidForm();
      }
      function validateYoutubeUrlInput(event) {
        setErrorMessage("", youtubeUrlErrorMessageDiv);
        const inputText = event.target.value.trim();
        if (inputText === "") {
          setErrorMessage(
            INPUT_ERROR_MESSAGES.YOUTUBE_URL.BLANK,
            youtubeUrlErrorMessageDiv
          );
        }
        if (!youtubeUrlRegex.test(inputText)) {
          setErrorMessage(
            INPUT_ERROR_MESSAGES.YOUTUBE_URL.NOT_YOUTUBE_URL,
            youtubeUrlErrorMessageDiv
          );
        }
        checkForValidForm();
      }

      //ADD A NEW MEME
      function compileNewMemeData(event) {
        const form = event.currentTarget;
        const formData = new FormData(form);
        const formObject = Object.fromEntries(formData.entries());
        const newMeme = {
          name: formObject.name,
          youtubeUrl: formObject.youtubeUrl,
        };
        return newMeme;
      }
      async function addMemeToDb(newMemeData) {
        const returnedMemeData = await fetch("http://localhost:3000/memes", {
          method: "POST",
          body: JSON.stringify(newMemeData),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });
        return await returnedMemeData.json();
      }
      async function handleFormSubmit(event) {
        event.preventDefault();
        const newMemeData = compileNewMemeData(event);
        const returnedMemeData = await addMemeToDb(newMemeData);
        addMemeToPage(returnedMemeData.youtubeUrl);
      }

      //ADD MEMES TO PAGE ON PAGE LOAD
      async function fetchAllMemeYoutubeUrls() {
        await fetch("http://localhost:3000/memes")
          .then((memesData) => memesData.json())
          .then((memes) =>
            memes.forEach((meme) => memeYoutubeUrls.push(meme.youtubeUrl))
          )
          .catch((error) => console.log(error));
      }
      async function addMemeVideosToPage() {
        await fetchAllMemeYoutubeUrls();
        for (i = 0; i < memeYoutubeUrls.length; i++) {
          addMemeToPage(memeYoutubeUrls[i]);
        }
      }
      addMemeVideosToPage();
    </script>
  </body>
</html>
