<div class="wrapper-header-and-phone">
  <div class="page-title-wrapper">
    <h1>NoSQL Database</h1>
    <h2>Google Firestore</h2>
    <h3>Javascript Web Components and more CSS Styling and Animations</h3>
  </div>
  <div id="phone">
    <div id="receiver">
      <div id="antenna"></div>
      <div id="openBtn"></div>
      <div id="speakerShadow">
        <div class="speaker">
          <div class="hole-group">.<br />.<br />.</div>
          <div class="hole-group">.<br />.<br />.</div>
        </div>
      </div>
      <div id="screenBezel">
        <div id="screen" class="btn-disabled">ANSWER THE PHONE</div>
      </div>
      <form id="addQuoteForm" action="" class="admin" method="POST">
        <div class="form-control">
          <label for="quoteInput" aria-label="quote text"> </label>
          <textarea
            rows="3"
            type="text"
            id="quoteInput"
            name="quoteInput"
            placeholder="Quote"
          ></textarea>
        </div>
        <div class="form-control">
          <label for="authorInput" aria-label="quote author"> </label>
          <input
            type="text"
            id="authorInput"
            name="authorInput"
            placeholder="Author"
          />
        </div>
      </form>
      <div id="signOutMsgLoginBtnWrapper">
        <div id="signedOutMsg">
          You must be logged in to add quotes to the archive.
        </div>
        <button id="goToSignInPageBtn">Sign In</button>
      </div>
    </div>
    <div id="mouthPiece">
      <div class="mouth-piece-shadow shadow-top"></div>
      <div id="micWrapper">
        <div class="mouth-piece-speaker speaker">
          <div class="hole-group">.<br />.<br />.</div>
          <div class="hole-group">.<br />.<br />.</div>
        </div>
        <div class="hole-group mouth-piece-mic">.<br />.<br />.</div>
      </div>
      <div class="mouth-piece-shadow shadow-bottom"></div>
    </div>
  </div>
</div>
<div id="quotesList"></div>
