<header style="position: relative">
  <div id="tileAndLinksWrapper">
    <button
      id="navigateToAboutBtn"
      data-path="/about"
      class="btn-text-with-border"
    >
      <p data-path="/about">
        Favorites<img
          id="favoritesIcon"
          src="/static/images/star_in_circle_32x32.png"
          alt="favorites star"
        />
      </p>
      <span data-path="/about">a tech stack portfolio</span>
    </button>
    <div id="navLoginInfoAboutWrappper">
      <nav id="siteHeaderNavbar">
        <ul>
          <li>
            <button
              id="navigateToPillsBtn"
              data-path="/pills"
              class="btn-text btn-site-header"
            >
              Auth
            </button>
          </li>
          <li>
            <button id="dockerBtn" class="btn-text btn-site-header">
              Docker
            </button>
          </li>
        </ul>
      </nav>
      <div id="loginInfoSignOutWrapper">
        <div id="loginInfo"></div>
        <button id="signOutBtn" class="btn-text">Signout</button>
      </div>
    </div>
  </div>
  <about-this-page
    style="position: absolute; bottom: -36px; right: 16px"
  ></about-this-page>
</header>
