//COLORS
$white: white;
//Matix color scheme credit: https://www.schemecolor.com/matrix-code-green.php
$black: #0d0208;
$darkGreen: #003b00;
$mediumGreen: #008f11;
$lightGreen: #00ff41;
//$lightRed: ;
//$mediumRed: ;
