html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
}

button {
  border: none;
  box-sizing: border-box;
  padding: 1em;
  margin: 0px;
  cursor: pointer;
}

.btn-text {
  background-color: transparent;
  padding: 0;
  color: #f55d3e;
  cursor: pointer;
}

h1 {
  font-size: 64px;
  font-family: "Bakbak One", cursive;
}

input[type=text i] {
  padding: 0px;
}

input[type=password i] {
  padding: 0px;
}

input {
  padding: 2px 4px;
  border: none;
  box-sizing: border-box;
}

.form-control {
  display: flex;
}

.hidden {
  transform: rotateY(90deg);
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.title-wrapper h1 {
  font-family: "Bakbak One", cursive;
  font-size: 72px;
  margin-bottom: 1rem;
  text-align: center;
}
.title-wrapper h2 {
  font-family: "Bakbak One", cursive;
  font-size: 32px;
  margin-bottom: 1rem;
  text-align: center;
}
.title-wrapper h3 {
  font-size: 24px;
  max-width: 600px;
  text-align: center;
}

@keyframes greenPulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #008f11;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em #008f11;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #008f11;
  }
}
@keyframes bluePulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #005f9e;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em #005f9e;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #005f9e;
  }
}
header {
  width: 100vw;
  height: 88px;
}

.standard-colors {
  background: white;
  color: black;
}

.matrix-colors {
  background: #0d0208;
  color: #00ff41;
}

.white-background-colors {
  background-color: white;
  color: #0d0208;
}

#tileAndLinksWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
}

#siteNameWrapper button {
  padding: 0;
  border: none;
}

h1 {
  font-size: 2rem;
  -webkit-text-emphasis: bold;
          text-emphasis: bold;
}

ul {
  color: inherit;
  list-style-type: none;
}
ul :last-child {
  padding-right: 0px;
}

li {
  display: inline;
}

button {
  color: inherit;
  background: transparent;
  font-size: 1.25rem;
  text-decoration: underline;
  text-underline-offset: 0.25em;
}/*# sourceMappingURL=header.css.map */