@use "_universal.scss" as univ;
@use "_variables.scss" as var;

$pillMediumRed: #9e0028;
$pillMediumBlue: #005f9e;
$btnLightBlue: #7dc3f1;

.pills-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#digitalRainOverlay {
  z-index: -2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: transparent;
}
//.show-overlay {
//  display: block;
//}
//.hide-overlay {
//  display: none;
//}
.digital-rain-drop {
  width: 1em;
  position: absolute;
  color: var.$mediumGreen;
}
.pill-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 200px;
}
.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var.$black;
  color: var.$black;
  cursor: pointer;
}
.red {
  background-color: $pillMediumRed;
}
.blue {
  background-color: $pillMediumBlue;
}
.shiny {
  //button styling credit: https://websemantics.uk/articles/shiny-buttons/
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25),
    0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 rgba(0, 0, 0, 0.5) inset,
    0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
    0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset,
    0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;
}
.left {
  z-index: 2;
  width: 180px;
  height: 120px;
  border-radius: 120px 0 0 120px;
  box-shadow: 0.5em -0.125em -0.25em 0.25em 0;
}
.right {
  z-index: 1;
  margin-left: -40px;
  width: 180px;
  height: 110px;
  border-radius: 0 120px 120px 0;
}
.text-hidden {
  color: transparent;
}
.navigation-btn {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
  margin: auto;
  font-size: 0.75em;
  color: var.$black;
  border-radius: 0.25em;
  cursor: pointer;
}
.btn-blue {
  background: $btnLightBlue;
  box-shadow: 0 0 0.25em 0.5em $pillMediumBlue;
  animation: bluePulse 4s infinite;
}
.btn-green {
  background: var.$lightGreen;
  box-shadow: 0 0 0.25em 0.5em var.$mediumGreen;
  animation: greenPulse 4s infinite;
}
//ANIMATION CLASSES
//ANIMATION CLASSES - PILL MOVEMENT
.left-pill-open-red {
  animation: leftPillOpen ease-in-out 3s forwards;
}
.right-pill-open-red {
  animation: rightPillOpen ease-in-out 3s forwards,
    fadeTextIn ease-in 3s forwards;
}
.left-pill-open-blue {
  animation: leftPillOpen ease-in-out 3s forwards,
    fadeTextIn ease-in 3s forwards;
}
.right-pill-open-blue {
  animation: rightPillOpen ease-in-out 3s forwards;
}
.left-pill-close-red {
  animation: leftPillClose ease-in-out 3s forwards;
}
.right-pill-close-red {
  animation: rightPillClose ease-in-out 3s forwards,
    fadeTextOut ease-in 3s forwards;
}
.left-pill-close-blue {
  animation: leftPillClose ease-in-out 3s forwards,
    fadeTextOut ease-in 3s forwards;
}
.right-pill-close-blue {
  animation: rightPillClose ease-in-out 3s forwards;
}
//ANIMATION CLASSES - FADE ELEMENTS
.fade-element-out {
  animation: fadeElementOut ease-in 3s forwards;
}
.fade-element-in {
  animation: fadeElementIn ease-in 3s forwards;
}
.fade-text-out {
  animation: fadeTextOut ease-in 3s forwards;
}
.fade-text-in {
  animation: fadeTextIn ease-in 3s forwards;
}
//ANIMATION KEYFRAMES
//ANIMATION KEYFRAMES - PILL MOVEMENT
@keyframes leftPillOpen {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-90px);
  }
}
@keyframes leftPillClose {
  from {
    transform: translateX(-90px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rightPillOpen {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(90px);
  }
}
@keyframes rightPillClose {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(0px);
  }
}
//ANIMATION KEYFRAMES - FADE ELEMENTS
@keyframes fadeTextIn {
  from {
    color: transparent;
  }
  to {
    color: var.$black;
  }
}
@keyframes fadeTextOut {
  from {
    color: var.$black;
  }
  to {
    color: transparent;
  }
}
@keyframes fadeElementOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes fadeElementIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
//ANIMATION KEYFRAMES - BUTTON ANIMATIONS
@keyframes greenPulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em var.$mediumGreen;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em var.$mediumGreen;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em var.$mediumGreen;
  }
}
@keyframes bluePulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em $pillMediumBlue;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em $pillMediumBlue;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em $pillMediumBlue;
  }
}
