@use "_universal.scss" as univ;
@use "_variables.scss" as var;

$pillMediumRed: #9e0028;
$pillMediumBlue: #005f9e;
$btnLightBlue: #7dc3f1;

.pills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.pill-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 200px;
}
.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var.$black;
  color: var.$black;
  cursor: pointer;
}
.red {
  background-color: $pillMediumRed;
}
.blue {
  background-color: $pillMediumBlue;
}
.shiny {
  //button styling credit: https://websemantics.uk/articles/shiny-buttons/
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25),
    0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 rgba(0, 0, 0, 0.5) inset,
    0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
    0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset,
    0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;
}

.left {
  z-index: 1;
  width: 180px;
  height: 120px;
  border-radius: 120px 0 0 120px;
  box-shadow: 0.5em -0.125em -0.25em 0.25em 0;
}
.right {
  margin-left: -40px;
  width: 180px;
  height: 110px;
  border-radius: 0 120px 120px 0;
}
.text-hidden {
  color: transparent;
}
.navigation-btn {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
  margin: auto;
  font-size: 0.75em;
  color: var.$black;
  border-radius: 0.25em;
  cursor: pointer;
}
.btn-blue {
  background: $btnLightBlue;
  box-shadow: 0 0 0.25em 0.5em $pillMediumBlue;
  animation: bluePulse 4s infinite;
}
.btn-green {
  background: var.$lightGreen;
  box-shadow: 0 0 0.25em 0.5em var.$mediumGreen;
  animation: greenPulse 4s infinite;
}
//ANIMATIONS
.open-left-show-text {
  animation: leftPillOpenShowText ease-in-out 3s forwards;
}
.open-left-hide-text {
  animation: leftPillOpenHideText ease-in-out 3s forwards;
}
.open-right-show-text {
  animation: rightPillOpenShowText ease-in-out 3s forwards;
}
.open-right-hide-text {
  animation: rightPillOpenHideText ease-in-out 3s forwards;
}
.close-left-show-text {
  animation: leftPillCloseShowText ease-in-out 3s forwards;
}
.close-left-hide-text {
  animation: leftPillCloseHideText ease-in-out 3s forwards;
}
.close-right-show-text {
  animation: rightPillCloseShowText ease-in-out 3s forwards;
}
.close-right-hide-text {
  animation: rightPillCloseHideText ease-in-out 3s forwards;
}

//PILLS
//PILL - OPENING ANIMATIONS
@keyframes leftPillOpenShowText {
  from {
    transform: translateX(0px);
    color: transparent;
  }
  to {
    transform: translateX(-90px);
    color: var.$black;
  }
}
@keyframes leftPillOpenHideText {
  from {
    transform: translateX(0px);
    color: var.$black;
  }
  to {
    transform: translateX(-90px);
    color: transparent;
  }
}
@keyframes rightPillOpenShowText {
  from {
    transform: translateX(0px);
    color: transparent;
  }
  to {
    transform: translateX(90px);
    color: var.$black;
  }
}
@keyframes rightPillOpenHideText {
  from {
    transform: translateX(0px);
    color: var.$black;
  }
  to {
    transform: translateX(90px);
    color: transparent;
  }
}
//PILL - CLOSING ANIMATIONS
@keyframes leftPillCloseShowText {
  from {
    transform: translateX(-90px);
    color: transparent;
  }
  to {
    transform: translateX(0px);
    color: var.$black;
  }
}
@keyframes leftPillCloseHideText {
  from {
    transform: translateX(-90px);
    color: var.$black;
  }
  to {
    transform: translateX(0px);
    color: transparent;
  }
}
@keyframes rightPillCloseShowText {
  from {
    transform: translateX(90px);
    color: transparent;
  }
  to {
    transform: translateX(0px);
    color: var.$black;
  }
}
@keyframes rightPillCloseHideText {
  from {
    transform: translateX(90px);
    color: var.$black;
  }
  to {
    transform: translateX(0px);
    color: transparent;
  }
}

//BUTTON
@keyframes greenPulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em var.$mediumGreen;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em var.$mediumGreen;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em var.$mediumGreen;
  }
}
@keyframes bluePulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em $pillMediumBlue;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em $pillMediumBlue;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em $pillMediumBlue;
  }
}
@keyframes fadePillTextIn {
  from {
    color: transparent;
  }
  to {
    color: var.$black;
  }
}
@keyframes fadePillTextOut {
  from {
    color: var.$black;
  }
  to {
    color: transparent;
  }
}
