html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
}

button {
  border: none;
  box-sizing: border-box;
  padding: 1em;
  margin: 0px;
  cursor: pointer;
}

.btn-text {
  background-color: transparent;
  padding: 0;
  color: #f55d3e;
  cursor: pointer;
}

h1 {
  font-size: 64px;
  font-family: "Bakbak One", cursive;
}

input[type=text i] {
  padding: 0px;
}

input[type=password i] {
  padding: 0px;
}

input {
  padding: 2px 4px;
  border: none;
  box-sizing: border-box;
}

.form-control {
  display: flex;
}

.hidden {
  transform: rotateY(90deg);
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.title-wrapper h1 {
  font-family: "Bakbak One", cursive;
  font-size: 72px;
  margin-bottom: 1rem;
  text-align: center;
}
.title-wrapper h2 {
  font-family: "Bakbak One", cursive;
  font-size: 32px;
  margin-bottom: 1rem;
  text-align: center;
}
.title-wrapper h3 {
  font-size: 24px;
  max-width: 600px;
  text-align: center;
}

@keyframes greenPulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #008f11;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em #008f11;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #008f11;
  }
}
@keyframes bluePulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #005f9e;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em #005f9e;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #005f9e;
  }
}
.left-pill-open-red {
  animation: leftPillOpen ease-in-out 3s forwards;
}

.right-pill-open-red {
  animation: rightPillOpen ease-in-out 3s forwards, fadeTextIn ease-in 3s forwards;
}

.left-pill-open-blue {
  animation: leftPillOpen ease-in-out 3s forwards, fadeTextIn ease-in 3s forwards;
}

.right-pill-open-blue {
  animation: rightPillOpen ease-in-out 3s forwards;
}

.left-pill-close-red {
  animation: leftPillClose 3s ease-in-out forwards;
}

.right-pill-close-red {
  animation: rightPillClose 3s ease-in-out forwards, fadeTextOut ease-in 3s forwards;
}

.left-pill-close-blue {
  animation: leftPillClose ease-in-out 3s forwards, fadeTextOut ease-in 3s forwards;
}

.right-pill-close-blue {
  animation: rightPillClose ease-in-out 3s forwards;
}

.fade-element-out {
  animation: fadeElementOut ease-in 3s forwards;
}

.fade-element-in {
  animation: fadeElementIn ease-in 3s forwards;
}

.fade-text-out {
  animation: fadeTextOut ease-in 3s forwards;
}

.fade-text-in {
  animation: fadeTextIn ease-in 3s forwards;
}

.fade-overlay-in {
  background: #0d0208;
  z-index: 10;
  animation: fadeElementIn ease-in 6 sec forwards;
}

.scroll-sign-in-message-out {
  transform: translateY(0px);
  transition-duration: 0.75s;
  transition-delay: 0s;
}

.scroll-sign-in-message-in {
  animation: scrollSignInMessageIn 4s ease-out 2s forwards;
}

.scroll-sign-up-btn-in-with-delay {
  transform: translateY(110px);
  transition-delay: 2s;
  transition-duration: 4s;
  transition-timing-function: ease-out;
}

.scroll-sign-up-btn-in-no-delay {
  transform: translateY(110px);
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.scoll-sign-up-btn-to-cover-input {
  transform: translateY(45px);
  transition-timing-function: ease-out;
  transition-duration: 1s;
}

@keyframes leftPillOpen {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-120px);
  }
}
@keyframes leftPillClose {
  from {
    transform: translateX(-120px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rightPillOpen {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(120px);
  }
}
@keyframes rightPillClose {
  from {
    transform: translateX(120px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fadeTextIn {
  from {
    color: transparent;
  }
  to {
    color: #0d0208;
  }
}
@keyframes fadeTextOut {
  from {
    color: #0d0208;
  }
  to {
    color: transparent;
  }
}
@keyframes fadeElementOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes fadeElementIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes scrollSignInMessageIn {
  0% {
    transform: translateY(0px);
  }
  99% {
    z-index: -1;
    transform: translateY(-80px);
  }
  100% {
    z-index: 3;
    transform: translateY(-80px);
  }
}
.pills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#fullPageOverlay {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background: transparent;
  color: #00ff41;
}

.digital-rain-drop {
  width: 1em;
  position: absolute;
}

.pill-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 180px;
}

.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #0d0208;
  color: #0d0208;
  cursor: pointer;
}

.red {
  background-color: #9e0028;
}

.blue {
  background-color: #005f9e;
}

.shiny {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 rgba(0, 0, 0, 0.5) inset, 0 1.25rem 0 rgba(255, 255, 255, 0.08) inset, 0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset, 0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;
}

.left {
  z-index: 2;
  width: 220px;
  height: 160px;
  border-radius: 120px 0 0 120px;
  box-shadow: 0.5em -0.125em -0.25em 0.25em 0;
}

.right {
  z-index: 1;
  margin-left: -40px;
  width: 220px;
  height: 150px;
  border-radius: 0 120px 120px 0;
}

#signUpInWrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
#signUpInWrapper #signUpInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#signUpInWrapper #signUpInForm #inputsWrapper {
  margin-bottom: 0.5em;
}
#signUpInWrapper #signUpInForm #inputsWrapper .form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
}
#signUpInWrapper #signUpInForm #inputsWrapper .form-control input {
  height: 24px;
  width: 160px;
  padding: 0.25em 1em;
  font-size: 16px;
}
#signUpInWrapper #signUpInForm #inputsWrapper .form-control .togglePwVisibilityBtn {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}
#signUpInWrapper #signUpInForm #inputsWrapper .form-control .show-hide-icon {
  width: 100%;
  height: 100%;
}
#signUpInWrapper #signUpInForm #inputsWrapper .form-control .error-message {
  width: 100%;
  height: 20px;
  color: rgb(105, 105, 105);
}
#signUpInWrapper #signUpInMessage {
  z-index: -1;
  text-align: center;
  color: white;
}

.text-hidden {
  color: transparent;
}

.navigation-btn {
  width: 200px;
  margin: auto;
  font-size: 0.75em;
  color: #0d0208;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn-green {
  background: #00ff41;
  box-shadow: 0 0 0.25em 0.5em #008f11;
  animation: greenPulse 4s infinite;
}

#continueBtnAndMessagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 200px;
  height: 140px;
  text-align: center;
}
#continueBtnAndMessagesWrapper .quote {
  font-style: italic;
  color: #00ff41;
  padding-right: 10px;
}
#continueBtnAndMessagesWrapper .quote span {
  font-style: normal;
  display: block;
  text-align: right;
  margin-right: -10px;
}
#continueBtnAndMessagesWrapper .btn-blue {
  background: #7dc3f1;
  box-shadow: 0 0 0.25em 0.5em #005f9e;
  animation: bluePulse 4s infinite;
}
#btnAnimationWrapper {
  width: 100%;
}

.fade-in-green-background {
  animation: fadeInGreenBackground 8s forwards;
}/*# sourceMappingURL=pills.css.map */