html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
  padding-top: calc(88px + 5rem);
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0%;
  z-index: -2;
}

@keyframes greenPulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #008f11;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em #008f11;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #008f11;
  }
}
@keyframes bluePulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #005f9e;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0.75em 0.5em #005f9e;
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0.5em 0.125em #005f9e;
  }
}
h1 {
  font-family: "Bakbak One", cursive;
  text-align: center;
  color: #301014;
  width: 100%;
  font-size: 48px;
  margin-bottom: 0.75rem;
}

h2 {
  font-family: "Bakbak One", cursive;
  text-align: center;
  color: #301014;
  width: 100%;
  font-size: 32px;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: "Bakbak One", cursive;
  text-align: center;
  color: #301014;
  width: 100%;
  font-size: 24px;
  margin-bottom: 0.25rem;
}

h4 {
  font-family: "Bakbak One", cursive;
  text-align: center;
  color: #301014;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

h5 {
  font-family: "Bakbak One", cursive;
  text-align: center;
  color: #301014;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.page-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}
.page-title-wrapper h1 {
  max-width: 600px;
}
.page-title-wrapper h2 {
  max-width: 600px;
}
.page-title-wrapper h3 {
  max-width: 600px;
}

button {
  padding: 1rem 2rem;
  background-color: #301014;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Bakbak One", cursive;
  text-decoration: none;
  cursor: pointer;
}

.btn-text {
  display: inline;
  background-color: transparent;
  font-family: "Dosis", sans-serif;
  font-style: italic;
  font-size: 16px;
  text-decoration: none;
  color: #f55d3e;
  margin: 0em;
  padding: 0em;
}

.btn-text-with-border {
  background-color: transparent;
  color: #301014;
  font-size: 16px;
  text-decoration: none;
  border: 3px solid #301014;
}

form input {
  max-width: 100%;
  padding: 0.5rem 1rem;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  background: transparent;
  border: 3px solid #301014;
}
form input::-moz-placeholder {
  color: #776d5a;
}
form input::placeholder {
  color: #776d5a;
}
form input:focus {
  color: #301014;
  border-radius: 5px;
  border-color: #301014;
  box-shadow: inset 0px 0px 0.25em #776d5a;
}
form input:focus::-moz-placeholder {
  color: transparent;
}
form input:focus::placeholder {
  color: transparent;
}
form textarea {
  max-width: 100%;
  padding: 0.5rem 1rem;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  background: transparent;
  border: 3px solid #301014;
}
form textarea::-moz-placeholder {
  color: #776d5a;
}
form textarea::placeholder {
  color: #776d5a;
}
form textarea:focus {
  color: #301014;
  border-radius: 5px;
  border-color: #301014;
  box-shadow: inset 0px 0px 0.25em #776d5a;
}
form textarea:focus::-moz-placeholder {
  color: transparent;
}
form textarea:focus::placeholder {
  color: transparent;
}
form .form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form .error-message {
  width: 100%;
  height: 20px;
  color: #9e0028;
  text-align: center;
}

.four-pointed-star-wrapper {
  position: relative;
}

.absolute-wrapper {
  position: absolute;
}

.small-four-pointed-star {
  position: relative;
  margin: 1em auto;
  width: 1em;
  font-size: 2em;
  transform: rotate(-45deg);
  border: 2px solid black;
}

.small-four-pointed-star:before {
  content: "";
  position: absolute;
  background: red;
  width: 1em;
  height: 1.15em;
  transform: rotate(-45deg) skewX(30deg) skewY(30deg);
}

.small-four-pointed-star:after {
  content: "";
  position: absolute;
  background: red;
  width: 1em;
  height: 1.15em;
  transform: rotate(45deg) skewX(30deg) skewY(30deg);
}

.large-four-pointed-star {
  position: relative;
  margin: 1em auto;
  width: 1em;
  font-size: 2em;
  border: 2px solid black;
}

.large-four-pointed-star:before {
  content: "";
  position: absolute;
  background: blue;
  width: 1em;
  height: 1.15em;
  transform: rotate(-45deg) skewX(20deg) skewY(20deg);
}

.large-four-pointed-star:after {
  content: "";
  position: absolute;
  background: blue;
  width: 1em;
  height: 1.15em;
  transform: rotate(45deg) skewX(20deg) skewY(20deg);
}

#siteHeader {
  width: calc(100% - 4rem);
  max-height: 88px;
  box-shadow: -10px 10px 0px 1px #301014;
  margin: 2rem;
  border: 6px solid #301014;
  border-radius: 10px;
  background: white;
  z-index: 3;
}
#siteHeader nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#siteHeader nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navLoginInfoAboutWrappper {
  display: flex;
  flex-direction: column;
}

#loginInfoSignOutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

#signOutBtn {
  text-align: right;
}

#loginInfo {
  text-align: right;
}

#aboutThisPage {
  margin-left: 1rem;
}

#tileAndLinksWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
  max-height: 100%;
}

#navigateToAboutBtn {
  display: flex;
  flex-direction: column;
  border: none;
  margin-left: -2em;
}
#navigateToAboutBtn p {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: -0.75rem;
}
#navigateToAboutBtn p #favoritesIcon {
  width: 20px;
  height: auto;
  margin-bottom: 10px;
}
#navigateToAboutBtn span {
  font-size: 20px;
  font-weight: 200;
  font-family: "Dosis", sans-serif;
}

ul {
  color: inherit;
  list-style-type: none;
}
ul :last-child {
  padding-right: 0px;
}

li {
  display: inline;
}

.btn-site-header {
  font-size: 24px;
  font-weight: 800;
  font-family: "Bakbak One", cursive;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.25em;
  color: #301014;
  margin-left: 1rem;
}

quote-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1.5px solid #00ff41;
  box-shadow: -1px 1px 5px #00ff41;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

#aboutThisPageComponentWrapper {
  margin-left: 1rem;
  padding: 0.5em 0.5em 0.25em 0.5em;
  border: 3px solid #301014;
  border-radius: 0 0 10px 10px;
}

#aboutThisPageTitle {
  font-size: 24px;
  font-weight: 800;
}

#contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-left: 0px;
}

#fullPageOverlay {
  height: 100vh;
  width: 100vw;
  top: calc((88px + 5rem) * -1);
  color: #00ff41;
  opacity: 1;
}

.digital-rain-drop {
  width: 1em;
  position: absolute;
}

.pill-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 3rem;
}

.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #0d0208;
  color: #0d0208;
  cursor: pointer;
}

.red {
  background-color: #9e0028;
}

.blue {
  background-color: #005f9e;
}

.shiny {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 rgba(0, 0, 0, 0.5) inset, 0 1.25rem 0 rgba(255, 255, 255, 0.08) inset, 0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset, 0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;
}

.left {
  z-index: 2;
  width: 290px;
  height: 220px;
  border-radius: 120px 0 0 120px;
  box-shadow: 0.5em -0.125em -0.25em 0.25em 0;
}

.right {
  z-index: 1;
  margin-left: -40px;
  width: 290px;
  height: 210px;
  border-radius: 0 120px 120px 0;
}

#signUpInWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  background-color: white;
}
#signUpInWrapper #signUpInForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#signUpInWrapper #signUpInForm #inputsWrapper {
  margin-bottom: 0.5em;
}
#signUpInWrapper #signUpInForm #inputsWrapper .togglePwVisibilityBtn {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background: transparent;
}
#signUpInWrapper #signUpInForm #inputsWrapper .show-hide-icon {
  width: 100%;
  height: 100%;
}

#signUpInMessage {
  z-index: -1;
  text-align: center;
}

.text-hidden {
  color: transparent;
}

.navigation-btn {
  width: 250px;
  margin: auto;
  margin-bottom: 0.75rem;
}

.btn-green {
  background: #00ff41;
  box-shadow: 0 0 0.25em 0.5em #008f11;
  animation: greenPulse 4s infinite;
}
.btn-green:disabled {
  animation: none;
  color: #008f11;
  box-shadow: none;
}

#signUpInErMsg {
  z-index: -1;
}

#continueBtnAndMessagesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}
#continueBtnAndMessagesWrapper .quote {
  font-style: italic;
  color: #00ff41;
  padding-right: 10px;
  margin-bottom: 1.5rem;
}
#continueBtnAndMessagesWrapper .quote span {
  font-style: normal;
  display: block;
  text-align: right;
  margin-right: -10px;
}
#continueBtnAndMessagesWrapper .btn-blue {
  background: #7dc3f1;
  box-shadow: 0 0 0.25em 0.5em #005f9e;
  animation: bluePulse 4s infinite;
}
#continueBtnAndMessagesWrapper .message {
  text-align: center;
}

#btnAnimationWrapper {
  width: 100%;
}

.fade-in-green-background {
  z-index: 5;
  animation: fadeInGreenBackground 8s forwards;
}

.left-pill-open-red {
  animation: leftPillOpen ease-in-out 3s forwards;
}

.right-pill-open-red {
  animation: rightPillOpen ease-in-out 3s forwards, fadeTextIn ease-in 3s forwards;
}

.left-pill-open-blue {
  animation: leftPillOpen ease-in-out 3s forwards, fadeTextIn ease-in 3s forwards;
}

.right-pill-open-blue {
  animation: rightPillOpen ease-in-out 3s forwards;
}

.left-pill-close-red {
  animation: leftPillClose 3s ease-in-out forwards;
}

.right-pill-close-red {
  animation: rightPillClose 3s ease-in-out forwards, fadeTextOut ease-in 3s forwards;
}

.left-pill-close-blue {
  animation: leftPillClose ease-in-out 3s forwards, fadeTextOut ease-in 3s forwards;
}

.right-pill-close-blue {
  animation: rightPillClose ease-in-out 3s forwards;
}

.fade-pill-out {
  animation: 3s ease-in fadeElementOut forwards;
}

.fade-pill-in {
  animation: 3s ease-in fadeElementOut forwards;
  animation-direction: reverse;
}

.fade-text-out {
  animation: 3s ease-in fadeTextOut forwards;
}

.fade-text-in {
  animation: 3s ease-in fadeTextOut forwards;
  animation-direction: reverse;
}

.fade-overlay-in {
  background: transparent;
  z-index: 10;
  animation: fadeOverlayInFromBlackToGreen ease-out 13s forwards;
}

.scroll-red-pill-up {
  transform: translateY(0px);
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.scroll-red-pill-down {
  transform: translateY(50px);
  transition-duration: 2s;
  transition-delay: 3s;
  transition-timing-function: ease-in-out;
}

.scroll-blue-pill-up {
  transform: translateY(-160px);
  transition-duration: 2s;
  transition-delay: 2s;
  transition-timing-function: ease-in-out;
}

.scroll-blue-pill-down {
  transform: translateY(0px);
  transition-duration: 2s;
  transition-delay: 2s;
  transition-timing-function: ease-in-out;
}

.scroll-sign-in-message-out {
  transform: translateY(30px);
  transition-duration: 0.75s;
  transition-delay: 0s;
}

.scroll-sign-in-message-in {
  animation: scrollSignInMessageIn 1s ease-out 4s forwards;
}

.scroll-sign-up-btn-in-with-delay {
  transform: translateY(140px);
  transition-delay: 2s;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.scroll-sign-up-btn-in-no-delay {
  transform: translateY(140px);
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.scoll-sign-up-btn-to-cover-input {
  transform: translateY(68px);
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 0s;
}

.scroll-sign-up-btn-out {
  transform: translateY(0px);
  transition-timing-function: linear;
  transition-duration: 1s;
  transition-delay: 0s;
}

.scroll-sign-up-in-er-msg-in {
  transform: translateY(80px);
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 0s;
}

.scroll-sign-up-in-er-msg-out {
  transform: translateY(0px);
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 0s;
}

@keyframes leftPillOpen {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-150px);
  }
}
@keyframes leftPillClose {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rightPillOpen {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(150px);
  }
}
@keyframes rightPillClose {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fadeTextOut {
  from {
    color: #0d0208;
  }
  to {
    color: transparent;
  }
}
@keyframes fadeElementOut {
  from {
    visibility: visible;
    opacity: 100%;
  }
  to {
    visibility: hidden;
    opacity: 0%;
  }
}
@keyframes scrollSignInMessageIn {
  0% {
    transform: translateY(0px);
  }
  99% {
    z-index: -1;
    transform: translateY(-60px);
  }
  100% {
    z-index: 3;
    transform: translateY(-60px);
  }
}
@keyframes fadeOverlayInFromBlackToGreen {
  0% {
    visibility: hidden;
    opacity: 0;
    background: transparent;
  }
  40% {
    visibility: visible;
    opacity: 1;
    background: #0d0208;
  }
  70% {
    visibility: visible;
    background: #0d0208;
  }
  90% {
    background: #00ff41;
    color: #00ff41;
  }
  100% {
    background: white;
    color: white;
  }
}
body {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-header-and-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

#addQuoteForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 20px 0 0px;
  width: 220px;
  height: 150px;
  background: #003b00;
  color: white;
  animation: greenPulse 4s infinite;
  border-radius: 10px;
}
#addQuoteForm input {
  width: 150px;
  height: 20px;
  background: white;
  border-radius: 5px;
  outline: none;
}
#addQuoteForm textarea {
  border-radius: 5px;
  margin-bottom: 0.5rem;
  width: 150px;
  background: white;
  outline: none;
  resize: none;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

#quotesList {
  -moz-columns: 3;
       columns: 3;
  max-width: 80vw;
  max-height: 200px;
  overflow: scroll;
}

#phone {
  position: relative;
  width: 600px;
  height: 180px;
}

#receiver {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  width: 480px;
  height: 180px;
  border-radius: 7% 0 0 7%/10em 0 0 10em;
  background: #0d0208;
  box-shadow: inset 0 0 0.5rem white;
}

#antenna {
  position: relative;
  top: -60px;
  right: 0px;
  bottom: 0px;
  left: -40px;
  z-index: -1;
  width: 60px;
  height: 25px;
  border-radius: 5% 0 0 5%/1em 0 0 1em;
  background: #0d0208;
  box-shadow: inset 0 0 0.5rem white;
}

#openBtn {
  position: absolute;
  bottom: -5px;
  left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 50px;
  background: #0d0208;
  border-radius: 0 0 40% 40%/0 0 2rem 2rem;
  color: white;
  font-size: 8px;
  cursor: pointer;
}

#openBtn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30%;
  width: 80px;
  height: 20px;
}

#openBtn:hover {
  background-color: #00ff41;
}

.btn-disabled {
  pointer-events: none;
}

#speakerShadow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100px;
  height: 150px;
  margin-left: -60px;
  border-radius: 40% 0 0 40%/4em 0em 0 4em;
  background: linear-gradient(to right, rgb(42, 42, 42), #0d0208 50%);
}

.speaker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  padding-bottom: 5px;
}

.hole-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 10px;
  height: 40px;
  padding: 2px 2px 6px 2px;
  color: #696969;
}

#screenBezel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  margin-left: -60px;
  border-radius: 10% 0 0 10%/4em 0em 0 4em;
  border-left: 3px solid rgb(42, 42, 42);
  padding: -20px 0 -20px 0;
  width: 120px;
  height: 160px;
  z-index: 2;
}

#screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: 120px;
  height: 80px;
  padding: 0.5em;
  border-radius: 1.5rem;
  border: 6px solid black;
  border-style: inset;
  background: #00ff41;
  box-shadow: inset 0 0 1rem white;
  transform: rotate(-90deg);
  font-size: 12px;
  cursor: pointer;
}

#mouthPiece {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 230px;
  width: 300px;
  height: 180px;
  border-radius: 0.5rem;
  background: #0d0208;
  box-shadow: inset 0 0 0.5rem white;
}

.mouth-piece-shadow {
  height: 60px;
  width: 240px;
  border-radius: 1rem;
}

.shadow-top {
  transform: skew(40deg);
  background: linear-gradient(to right top, rgb(42, 42, 42) 3%, #0d0208 30%);
  cursor: pointer;
}

.shadow-bottom {
  transform: skew(-40deg);
  background: linear-gradient(to right bottom, rgb(42, 42, 42) 3%, #0d0208 30%);
  cursor: pointer;
}

#micWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}

.mouth-piece-speaker {
  width: 30px;
  margin: 0;
}

.mouth-piece-mic {
  width: 10px;
  margin-left: 220px;
}

.open-phone {
  animation: openPhone 0.06125s forwards;
}

.close-phone {
  animation: closePhone 1s forwards;
}

@keyframes openPhone {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(240px);
  }
}
@keyframes closePhone {
  from {
    transform: translateX(240px);
  }
  to {
    transform: translateX(0px);
  }
}/*# sourceMappingURL=index.css.map */