<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/pills.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="static/js/index.js" defer></script>
    <script src="../../static/components/Header.js" defer></script>
    <title>Favs</title>
  </head>
  <body>
    <header-component id="pageHeader"></header-component>
    <div id="pageWrapper">
      <h1>Main Page</h1>
      <p>Lorem text</p>
    </div>
  </body>
</html>
